
<app-navbar></app-navbar><div class="about">
    <div class="container">
       <h1>AboutUs</h1>
       <img src="/assets/abpic.webp" style="opacity: 1;">
       <p>Loki stores, a part of Wedtree eStore Private Limited is an eminent name among saree connoisseurs and has always made you glorious with flamboyant weaves in handloom sarees! 

        Having 25 years of rich heritage in Silk & Silk cotton sarees, all our sarees are handwoven and we are proud to say it! 
        
        TRADITION FOR GENERATIONS
        ‘Tradition for generations’ is what we believe and our collections reflect the same. Our director, Mr.Lokesh.G takes immense effort in curating every product and presents them without compromising quality, weaving at an affordable price. 
        
        One of our specialties is we delight our customers with a wide variety in styles. Hand block printed collections, Kuppadam collections - silk cotton with silk borders, Korvai collections are popular among them.
        
        </p>

        </div>
    </div>
<app-enddescription></app-enddescription>
