.cart-item-container {
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.cart-item-container h4 {
    font-weight: bold;
    margin-top: 0;
}

.cart-item-container p {
    margin-bottom: 5px;
}

.cart-item-container button {
    float: right;
    margin-top: 10px;
}
.cart-summary{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    padding-top: 200px;

}
.btn{
    background-color: antiquewhite;
}
.cart-actions{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    

}