
<marquee behavior="scroll" direction="left" scrollamount="" loop="" scrolldelay="0">

    <div class="mid">
        <div class="row">
            <div class="col">
                <div class="container" appForbrand>
                    <img src="/assets/wrogn.png">
                    <h1>WRONG</h1>
                    <p> A brand by ViratKohli</p>
                </div>
            </div>
            <div class="col">
                <div class="container" appForbrand >
                    <img class="padd" src="/assets/nike.png">
                    <h1>Nike</h1>
                    <p>A International Brand</p>
                </div>
            </div>
            <div class="col">
                <div class="container" appForbrand >
                    <img src="/assets/otto.png">
                    <h1>OTTO</h1>
                    <p>An Indian Brand</p>
                </div>
            </div>
            <div class="col">
                <div class="container" appForbrand>
                    <img class="ll" src="/assets/uspolo.png">
                    <h1>US POLO</h1>
                    <p>An Indian Brand</p>
                </div>
            </div>
            <div class="col">
                <div class="container" appForbrand>
                    <img  src="/assets/hrx.png" >
                    <h1>HRX</h1>
                    <p>An Indian Brand</p>
                </div>
            </div>
        </div>
    </div>
</marquee>
