<div class="end">
    <h1 style="color: brown;padding-top:50px ;">Follow Us On</h1>
    <div class="row">
        <div class="col">

            <a href="https://www.facebook.com/lokesh.g9678/" style="text-decoration: none; color: inherit;"><img class="fig" src="/assets/fb.png" height="100px" width="170px">
            <h6>Facebook</h6></a>
        </div>
        <div class="col">
           <a href="https://www.instagram.com/lokesh.g123" style="text-decoration: none; color: inherit;"><img class="fig" src="/assets/insta.png" height="100px" width="100px">
            <h6>Instagram</h6></a>
        </div>
        <div class="col" style="padding: 25px 10px;">
            <img class="fig" src="/assets/twitter.png" height="75px" width="75px">
            <h6>Twitter</h6>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <!-- <h2 style="color: brown;">Men</h2> -->
            <ul style="list-style: none;">
                <li style="color: brown; font-size:x-large;"><b>Men</b></li>
                <li>Shirts</li>
                <li>Bags</li>
                <li>trousers</li>
                <li>T-Shirts</li>
                <li>FootWear</li>
                <li>Watches</li>
                <li>Jewellary</li>
            </ul>
        </div>
        <div class="col">
            <!-- <h2 style="color: brown;">Women</h2> -->
            <ul style="list-style: none;">
                <li style="color: brown; font-size:x-large;"><b>Women</b></li>
                <li>Sarees</li>
                <li>Cotten Sarees</li>
                <li>Chudidhar</li>
                <li>T-Shirts</li>
                <li>FootWear</li>
                <li>Watches</li>
                <li>Jewellary</li>
            </ul>
        </div>
        <div class="col">
            <!-- <h2 style="color: brown;">Kids</h2> -->
            <ul style="list-style: none;">
                <li style="color: brown; font-size:x-large;"><b>Kids</b></li>
                <li>Boys</li>
                <li>Girls</li>
                <li>Infants</li>
                <li>Toys</li>
                <li>School Essentials</li>
                <li>Accessories</li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <footer>
        <p>Copy right&copy; 2023 Loki . All rights reserved.</p>
    </footer>
</div>

